.mg-first-fold {
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  overflow: visible;

  .mg-first-fold-top-text {
    position: absolute;
    top: 26px;
    right: 46px;
    z-index: 1;
    font-family: "Manrope";
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #F7F0EC;
    a {
      margin-bottom: 8px;
      display: block;
    }
  }
  .mg-first-fold-header {
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 34px;

    .mg-first-fold-menu {
      cursor: pointer;
      display: flex;
      align-items: center;
      border: 1px solid #dacfba;
      border-radius: 150px;
      padding: 10px 21px;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #dacfba;
      > svg {
        margin-right: 10px;
      }
    }
    .mg-first-fold-login {
      cursor: pointer;
      display: flex;
      align-items: center;
      border: 1px solid #dacfba;
      border-radius: 150px;
      padding: 10px 50px;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #dacfba;
    }
    @media (max-width: 980px) {
      padding-top: 5vh;
      > svg {
        width: 45vw !important;
      }
    }
  }
  .mg-first-fold-text {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;

    .mg-first-fold-heading {
      font-family: "Editorial New";
      font-style: normal;
      font-weight: 200;
      font-size: 90px;
      text-align: center;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #F9F6ED;
    }

    .mg-first-fold-subheading {
      margin: 19px auto 74px;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 170%;
      text-align: center;
      color: #F9F6ED;
      max-width: 673px;
      position: relative;
      .mg-play-reel-btn {
        position: absolute;
        right: -300px;
        top: 0;
        cursor: pointer;
      }
    }
    @media (max-width: 980px) {
      .mg-first-fold-heading {
        font-family: "Editorial New";
        font-style: normal;
        font-weight: 200;
        font-size: 50px;
        line-height: 1.6em;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #f1efe5;
      }
      .mg-first-fold-subheading {
        margin-top: 2em;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.6em;
        text-align: center;
        color: #f9f6ed;
        width: 35ch;
      }
    }
  }
  .mg-discover-more {
    box-sizing: border-box;
    width: 600px;
    height: 260px;
    // background: #404040;
    z-index: 1;
    margin: 0 auto;
    position: absolute;
    bottom: -120px;
    left: 0;
    right: 0;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    // text-transform: uppercase;
    color: #f1efe5;
    > svg {
      margin-bottom: 20px;
    }
    @media (max-width: 980px) {
      display: none;
    }
  }

  .mg-bg-video {
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
    top: -10px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 105vh;
    opacity: 0.7;
    overflow: hidden;

    &::before{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background: linear-gradient(0deg, rgba(black, 0.3), rgba(black, 0.3));
backdrop-filter: blur(12px);
content: '';
    }
    > video {
      object-fit: cover;
      overflow: hidden;
      min-height: 100%;
      margin: 0 auto;
    }
  }
}

.mg-first-fold-auth-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
  z-index: 99;
  cursor: pointer;

  .btn-hero-sec {
    height: 58px;
    min-width: 240px;
    font-weight: 400;
font-size: 20px;
line-height: 110%;

&:hover {
  background: rgba(#dacfba, 0.3);
}
  }

}
