

//grey
$grey-100:#404040;
$grey-60:#9DAAA2;
$grey-50:#8A7F7F;
$grey-30:#f9f6ed58;
$grey-20:#E7E5DF;
$grey-10:#F7F0EC;

//brown
$brown-100:#5D3F32;
$brown-80:#5C5043;
$brown-80-10:#5c50431a;
$brown-50:#97784C;
$brown-40:#8a7f7fb0;
$brown-30:#A68563;
//green
$green-100:#2E3430;
//cream
$cream-100:#DACFBA;
$cream-50:#F1EFE5;
$cream-40:#F9F6ED;

//zindices
$z-0:0;
$z-9:9;
$z-99:9;
$z-999:999;
$z-9999:9999;
