@import "../../sass/utils/_variables.scss";
@import "../../sass/utils/_mixins.scss";

.wrapper{
    overflow: hidden;
    background-color:$cream-40;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    header{
        flex: 1;
        margin-bottom: 4rem;
    }
    position: relative;
}
@mixin hideScrollbar {
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
.carouselWrapper{
    @include hideScrollbar();
    position: relative;
    flex: 10;
    height: 100%;
    ::-webkit-scrollbar {
        display: none;
    };
    gap: 5rem;
}
.slide{
    position: absolute;
    top: 0;
    min-height: 100%;
    min-width: 80%;
    flex-basis: 100%;
    @include flex(center,flex-start);
    overflow: hidden;
    scroll-snap-align: start;
}
.slideBgImg{
    position: absolute;
    bottom:0%;
    max-width: 100%;
    z-index: $z-0;
}
.hide{
    opacity: 0;
    transition: opacity 400ms ease-in;
}

.houseAndDescWrapper{
    @include flex(center,flex-start);
    gap: 10rem;
    z-index: $z-9;
    max-width: 75%;
    text-align: left;
    img{
        height: 60vh;
    }
}
.description{
    transition: opacity 400ms ease-in;
    max-width: 35%;
    margin-top: 4%;
    p{
        @include fontStyles($green-100,"Manrope",500,1rem);
        text-align: left;
    }
}
.appear{
    opacity: 1;
}

.scrollIndicatorContainer{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: $z-9
}

.scrollIndicatorWrapper{
    @include flex(center,center);
    flex-direction: column;
    gap: 0.5rem
}
.dot{
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    border: 1px solid $green-100;
    background-color: transparent;
}
.dot.active{
    background-color: $green-100;
}

.oContainer {
    // padding: 0 2.5rem;
    height: 100%;
  }
  .cSectionInfo {
    // padding-top: 20vh;
  }

  .box{
    height: 30vh;
    width: 100%;
    position: absolute;
    bottom:0%;
    // max-width: 100%;
    z-index: $z-0;
  }

  .green{
    background-color:  #4B5B47;
  }

  .lightBrown{
    background-color: #9C7E61;
  }
  .darkBrown{
    background-color: #6B4637;;
  }
  .blue{
    background-color: #434F50;
  }