@mixin beforeText {
  position: absolute;
  left: -100px;
  top: -30px;
  content: "The";
  text-transform: capitalize;
  font-family: "Notera";
  font-style: normal;
  font-weight: 400;
  font-size: 63px;
  letter-spacing: 0.01em;
  color: #9c7e61;
}

@mixin carouselHeading {
  font-family: "Editorial New";
  font-style: normal;
  font-weight: 200;
  font-size: 90px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #262e2f;
}

@mixin bottomColorDiv($color: #434f50) {
  width: 100%;
  height: 30vh;
  position: absolute;
  bottom: 0;
  background-color: $color;
}

.home-carousel {
  width: 100%;
  height: 500vh;
  position: relative;
  .carousel-logic-div {
    height: 100vh;
    width: 100%;
  }
  .carousel-dots {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 30px;
    top: calc(45vh);
    z-index: 99;
    > div {
      margin: 10px 0;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      border: 1px solid #2e3430;
    }
  }
}
.slide1 {
  opacity: 1;
  background-color: #f9f6ed;
  .carousel-text-div {
    position: absolute;
    bottom: 35vh;
    right: 6vw;
    width: 54ch;
    text-align: left;
    .carousel-heading {
      @include carouselHeading();
      &::before {
        @include beforeText();
      }
    }
    .carousel-subtext {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #262e2f;
      opacity: 0.7;
    }
  }
  > img {
    position: absolute;
    bottom: 20vh;
    width: 40vw;
    left: 6vw;
    z-index: 2;
  }
  .bottom-color-div {
    @include bottomColorDiv(#9c7e61);
    z-index: 1;
  }
}

.slide2 {
  opacity: 0;
  background-color: #f9f6ed;
  .carousel-text-div {
    position: absolute;
    bottom: 35vh;
    right: 6vw;
    width: 54ch;
    text-align: left;
    .carousel-heading {
      @include carouselHeading();
      &::before {
        @include beforeText();
      }
    }
    .carousel-subtext {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #262e2f;
      opacity: 0.7;
    }
  }
  > img {
    position: absolute;
    bottom: 20vh;
    width: 40vw;
    left: 6vw;
    z-index: 2;
  }
  .bottom-color-div {
    @include bottomColorDiv(#4b5b47);
  }
}
.slide3 {
  opacity: 0;
  background-color: #f9f6ed;
  .carousel-text-div {
    position: absolute;
    bottom: 35vh;
    right: 6vw;
    width: 54ch;
    text-align: left;
    .carousel-heading {
      @include carouselHeading();
      &::before {
        @include beforeText();
      }
    }
    .carousel-subtext {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #262e2f;
      opacity: 0.7;
    }
  }
  > img {
    position: absolute;
    bottom: 20vh;
    width: 40vw;
    left: 6vw;
    z-index: 2;
  }
  .bottom-color-div {
    @include bottomColorDiv(#6b4637);
  }
}
.slide4 {
  opacity: 0;
  background-color: #f9f6ed;
  .carousel-text-div {
    position: absolute;
    bottom: 35vh;
    right: 6vw;
    width: 54ch;
    text-align: left;
    .carousel-heading {
      @include carouselHeading();
      &::before {
        @include beforeText();
      }
    }
    .carousel-subtext {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #262e2f;
      opacity: 0.7;
    }
  }
  > img {
    position: absolute;
    bottom: 20vh;
    width: 40vw;
    left: 6vw;
    z-index: 2;
  }
  .bottom-color-div {
    @include bottomColorDiv(#434f50);
  }
}
.slide1-abs {
  width: 100%;
  height: 100vh;
  background-color: #f9f6ed;
  position: absolute;
  top: 0;
  z-index: 1;
  > div {
    position: relative;
    width: 100%;
    height: 100%;
    .carousel-text-div {
      position: absolute;
      bottom: 35vh;
      right: 6vw;
      width: 54ch;
      text-align: left;
      .carousel-heading {
        @include carouselHeading();
        &::before {
          @include beforeText();
        }
      }
      .carousel-subtext {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #262e2f;
        opacity: 0.7;
      }
    }
    > img {
      position: absolute;
      bottom: 20vh;
      width: 40vw;
      left: 6vw;
      z-index: 2;
    }
    .bottom-color-div {
      @include bottomColorDiv(#9c7e61);
    }
  }
}
.slide4-abs {
  width: 100%;
  height: 100vh;
  background-color: #f9f6ed;
  position: absolute;
  bottom: 0;
  z-index: 1;

  > div {
    position: relative;
    width: 100%;
    height: 100%;
    .carousel-text-div {
      position: absolute;
      bottom: 35vh;
      right: 6vw;
      width: 54ch;
      text-align: left;
      .carousel-heading {
        @include carouselHeading();
        &::before {
          @include beforeText();
        }
      }
      .carousel-subtext {
        font-family: "Manrope";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #262e2f;
        opacity: 0.7;
      }
    }
    > img {
      position: absolute;
      bottom: 20vh;
      width: 40vw;
      left: 6vw;
      z-index: 2;
    }
    .bottom-color-div {
      @include bottomColorDiv(#434f50);
    }
  }
}

.carousel-dots-abs {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 30px;
  top: calc(45vh);
  z-index: 99;
  > div {
    margin: 10px 0;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #2e3430;
    &:first-of-type {
      background-color: black;
    }
  }
}
.carousel-dots-end-abs {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 30px;
  bottom: calc(37vh);
  z-index: 99;
  > div {
    margin: 10px 0;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #2e3430;
    &:last-of-type {
      background-color: black;
    }
  }
}
.carousel-dots {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 30px;
  top: calc(45vh);
  z-index: 99;
  > div {
    margin: 10px 0;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #2e3430;
  }
}
