// theme styles files
@import "./fonts";

.millgrove {
  text-align: center;
  position: relative;
}



@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide1 {
  opacity: 1;
}
.slide2 {
  opacity: 0;
}
.slide3 {
  opacity: 0;
}
.slide4 {
  opacity: 0;
}
