@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";

.mainWrapper {
  padding: 1.25rem;
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;
  max-width: 40%;
  margin-top: 2rem;
  //   height: 80%;
  //   max-height: 40rem;
}

.bgTree {
  position: absolute;
  top: 5%;
  left: 36%;
  height: 50%;
  width: 40%;
  margin: 0 auto;
}

.formWrapper {
  border: 1px solid $brown-80-30;
  border-radius: 6px;
  padding: 4.5rem 2rem 2rem 2rem;
  form {
    width: 95%;
    margin: 0 auto;
  }
}

.headingWrapper {
  max-width: 70%;
  margin: 0 auto 3rem auto;
}
.heading {
  @include fontStyles($black-100, "Editorial New", 200, 4vw);
  text-transform: uppercase;
}
.smallText {
  @include fontStyles($brown-70, "Notera", 200, 4vw);
  text-transform: lowercase;
}
.formInputWrapper {
  margin-bottom: 2.5rem;
}
.formInput {
  text-align: center;
  border: none;
  border-bottom: 1px solid $brown-40;
  width: 93%;
  outline: 1px solid transparent;
  padding: 0.5rem 0;
  letter-spacing: 0.5px;
  @include fontStyles($brown-80, "Manrope", 400, 1.125rem);
}
.agreementCheck {
  @include flex(flex-start, flex-start);
  width: fit-content;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
  .round {
    label {
      top: 0.25rem;
    }
  }
  p {
    @include fontStyles($brown-80, "Manrope", 400, 1.125rem);
  }
}
.submitBtnWrapper {
  @include flex(center, center);
  margin-top: 3rem;
}

.successMsgWrapper {
  width: 40%;
  text-align: center;
  h2 {
    @include fontStyles($cream-40, "Editorial New", 200, 3rem);
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    .smallTxt {
      @include fontStyles($cream-40, "Notera", 200, 2rem);
      text-transform: lowercase;
    }
  }
  .successDescription {
    width: 80%;
    margin: auto;
    p {
      @include fontStyles($cream-40, "Manrope", 400, 1.25rem);
    }
  }
}

@media only screen and (min-width: 1000px) {
  .mainWrapper {
    padding: 1rem;
    margin-top: 1rem;
  }
  .formWrapper {
    padding: 2.5rem 1rem 1rem 1rem;
  }
  .headingWrapper {
    max-width: 50%;
    margin: 0 auto 1.5rem auto;
    .heading {
      font-size: 1.5rem;
    }
  }
  .formInputWrapper {
    margin-bottom: 1rem;
  }
  .agreementCheck {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
  }
  .submitBtnWrapper {
    margin-top: 1.5rem;
  }
}
