@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";

.mainWrapper {
  padding: calc(10px + 0.5625vw);
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;
  width: 33.5rem;
  max-width: 100%;
}

.bgTree {
  position: absolute;
  top: 2vw;
  left: 36%;
  height: 50%;
  width: 40%;
  margin: 0 auto;
}

.formWrapper {
  border: 1px solid $brown-80-30;
  border-radius: 6px;
  padding: calc(8px + 0.5625vw);
  padding-top: calc(8px + 1.5625vw);
  form {
    width: 95%;
    margin: 0 auto;
  }
}

.headingWrapper {
  width: clamp(50%, 70%, 80%);
  margin: 0 auto;
  margin-bottom: calc(8px + 1.5625vw);
}
.heading {
  @include fontStyles(
    $black-100,
    "Editorial New",
    200,
    calc(30px + 0.390625vw)
  );
  text-transform: uppercase;
}
.smallText {
  @include fontStyles($brown-70, "Notera", 200, calc(8px + 1.5625vw));
  text-transform: lowercase;
}
.formInputWrapper {
  margin-bottom: calc(8px + 1.5625vw);
}
.formInput {
  // text-align: center;
  border: none;
  border-bottom: 1px solid $brown-40;
  width: 93%;
  outline: 1px solid transparent;
  padding: calc(2px + 0.390625vw) 0;
  letter-spacing: 0.5px;
  @include fontStyles($brown-80, "Manrope", 400, 1.125rem);
}
.agreementCheck {
  @include flex(center, flex-start);
  width: fit-content;
  max-width: 90%;
  margin-top: calc(8px + 0.390625vw);
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
  .round {
    label {
      top: 0.25rem;
    }
  }
  p {
    text-align: left;
    @include fontStyles($brown-80, "Manrope", 400, calc(8px + 0.390625vw));
  }
}
.submitBtnWrapper {
  @include flex(center, center);
  margin-top: 3rem;
}

.successMsgWrapper {
  width: calc(56% + 1.5625vw);
  text-align: center;
  h2 {
    @include fontStyles($cream-40, "Editorial New", 200, calc(18px + 1.5625vw));
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    .smallTxt {
      @include fontStyles($cream-40, "Notera", 200, calc(10px + 1.5625vw));
      text-transform: lowercase;
    }
  }
  .successDescription {
    width: 56%;
    margin: auto;
    p {
      @include fontStyles($cream-40, "Manrope", 400, calc(12px + 0.390625vw));
    }
  }
}
