@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: $z-9999;
}

.mainContentWrapper {
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(19, 12, 12, 0.473);
  // border-bottom-left-radius: 0.75rem;
  // border-bottom-right-radius: 0.75rem;
}
.childrenWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
}
footer {
  @include flex(space-between, center);
  & > div {
    @include flex(flex-start, center);
    gap: calc(10px + 00.390625vw);
  }
  background-color: $green-80;
  padding: calc(15px + 0.390625vw) calc(12px + 0.390625vw);
  color: $grey-10;
  .leftFooter,
  .rightFooter {
    @include fontStyles($grey-10, "Manrope", 400, calc(10px + 0.390625vw));
  }
}
.siteUrl {
  text-transform: uppercase;
}
