@import "../../sass/utils/_mixins.scss";
@import "../../sass/utils/_variables.scss";

.header {
  @include flex(space-between, center);
  padding: calc(15px + 0.5625vw) calc(26px + 0.5625vw);
  width: 100%;
  color: $grey-10;
  @include fontStyles($white-100, "Manrope", 400, calc(10.5px + 0.390625vw));
}
.siteUrl {
  text-transform: uppercase;
  //   @include fontStyles($white-100, "Manrope", 200, 1rem);
}
