@import "../../sass/utils/_variables.scss";
@import "../../sass/utils/_mixins.scss";

.wrapper {
  background-color: #f9f6ed;
  padding-top: 4rem;
  padding-bottom: 7.5rem;
  margin: auto;
  text-align: left;
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  @media (max-width: 980px) {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.reservationCard {
  background-color: white;
  width: 62.5vw;
  min-height: min-content;
  position: relative;
  padding: 4.5rem;
  overflow: hidden;
  margin: 20px 0;
  > .verticalDash {
    height: 12rem;
    width: 1px;
    color: red;
    // color: $brown-80-10;
    position: absolute;
    right: 40%;
    bottom: 10%;
  }
  @media (max-width: 980px) {
    z-index: 1;
    min-height: 80vh;
    height: 80vh;
    margin: 0 auto;
    min-height: 60%;
    border-radius: 14px;
    width: 90vw;
    padding: 20px;
  }
}
.halfBorder {
  //   height: 120%;
  //   width: 95%;
  position: absolute;
  top: 16px;
  left: 21px;
  @media (max-width: 980px) {
    display: none;
  }
}

.treePrint {
  position: absolute;
  top: -5.375rem;
  right: 0;
  width: 30rem;
  height: 34rem;
  @media (max-width: 980px) {
    display: none;
  }
}

.verticalDash {
  height: 6rem;
  width: 1px;
  background-color: rgba(93, 63, 50, 0.3);
  @media (max-width: 980px) {
    display: none;
  }
}

.formWrapper {
  width: 50%;
  // position: absolute;
  // top: 4.5rem;
  // left: 5rem;
  z-index: 2;
  @media (max-width: 980px) {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.formHeadingWrapper {
  width: 25rem;
  margin-bottom: 1rem;
  @media (max-width: 980px) {
    position: relative;
    width: 100%;
    margin-top: 40px;
  }
}
.formHeading {
  @include fontStyles($grey-100, "Editorial New", 200, 5rem);
  line-height: 7rem;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  span {
    @include fontStyles($brown-50, "Notera", 400, 4.5rem);
    text-transform: lowercase;
  }
  @media (max-width: 980px) {
    font-family: "Editorial New";
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #262e2f;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      margin: 0 5px;
      font-size: 38px;
    }
  }
}
.formInputWrapper {
  margin-bottom: 2.5rem;
}
.formInput {
  border: none;
  border-bottom: 1px solid $brown-40;
  width: 93%;
  outline: 1px solid transparent;
  padding: 0.5rem 0;
  letter-spacing: 0.5px;
  @include fontStyles($brown-80, "Manrope", 400, 1.125rem);
  @media (max-width: 980px) {
    text-align: center;
    font-size: 14px;
  }
}

.agreementCheck {
  @include flex(flex-start, flex-start);
  gap: 2rem;
  .round {
    label {
      top: 0.25rem;
    }
  }
  p {
    @include fontStyles($brown-80, "Manrope", 400, 1.125rem);
  }
  @media (max-width: 980px) {
    justify-content: center;
    p {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      color: #262e2f;
      opacity: 0.7;
      width: 27ch;
    }
  }
}

.reserveVisit {
  position: absolute;
  bottom: 20%;
  right: 15%;
  @media (max-width: 980px) {
    display: none;
  }
}

.requestAVisitBtn {
  display: none;
  background: #2e3430;
  border-radius: 250px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f1efe5;
  margin: 0 auto;
  margin-top: 40px;
  padding: 16px 70px;
  margin-bottom: 30px;
  cursor: pointer;
  @media (max-width: 980px) {
    display: block;
  }
}

.reservationBorder {
  display: none;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border: 0.664418px solid rgba(67, 79, 80, 0.2);
  border-radius: 8px;
  z-index: 0;
  @media (max-width: 980px) {
    display: block;
  }
}
.gradientLeaf {
  display: none;
  position: absolute;
  bottom: 20px;
  @media (max-width: 980px) {
    display: block;
  }
}
