@import '../../sass/utils/_variables.scss';
@import '../../sass/utils/_mixins.scss';


.wrapper{
    background-color: $grey-100;
    padding-top: 4rem;
    padding-bottom: 7.5rem;
    margin: auto;
    text-align: left;
    > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

.reservationCard{
    background-color: white;
    width: 62.5vw;
    min-height: min-content;
    position: relative;
    padding: 1rem;
    overflow: hidden;
}
.halfBorder{
    height: 100%;
    width: 100%;
}

.treePrint{
    position: absolute;
    top: -85px;
    right: 0;
    width: 30rem;
    height:34rem
}

.verticalDash{
    height: 6rem;
    width: 1px;
    background-color: $grey-30;
}

.formWrapper{
    width: 45%;
    position: absolute;
    top: 4.5rem;
    left: 5rem;
}
.formHeadingWrapper{
    width: 25rem;
    margin-bottom: 1rem; 
}
.formHeading{
    @include fontStyles($grey-100,"Editorial New",200,5rem);
    line-height: 7rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    span{
       @include fontStyles($brown-50,"Notera",400,4.5rem);
       text-transform: lowercase;
    }
}
.formInputWrapper{
    margin-bottom: 2.5rem;
}
.formInput{
    border: none;
    border-bottom: 1px solid $brown-40;
    width: 93%;
    outline: 1px solid transparent;
    padding: 0.5rem 0;
    letter-spacing: 0.5px;
    @include fontStyles($brown-80,"Manrope",400,1.125rem)
}