@use "sass:math";

// Variables
$millgrove-font-size: 86px;

// Animations
@mixin ladder-up($name, $translate) {
  @keyframes #{$name} {
    0% {
      transform: translateY($translate);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

@mixin slide-in(
  $name,
  $translateX,
  $translateY,
  $translateToX,
  $translateToY,
  $rotateZ
) {
  @keyframes #{$name} {
    0% {
      transform: rotateZ($rotateZ) translate($translateX, $translateY);
    }
    100% {
      transform: rotateZ($rotateZ) translate($translateToX, $translateToY);
    }
  }
}

@keyframes elongate {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.millgrove-home {
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(68, 88, 64, 1);
  color: rgba(244, 241, 236, 1);
  padding-top: calc((100vh - 1.2 * $millgrove-font-size) / 2);
  overflow: hidden;
  .millgrove-title {
    display: inline-block;
    height: 100px;
    overflow: hidden;
    font-size: $millgrove-font-size;
    .millgrove-logo {
      > path {
        transform: translateY(110px);
        @include ladder-up(logo-anim, 110px);
        animation: 1s logo-anim ease-out forwards;
      }
      @for $num from 1 through 9 {
        > path {
          &:nth-of-type(#{$num}) {
            animation-delay: math.log($num, 10) + s;
          }
        }
      }
    }
  }

  .millgrove-tree {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-700px, -700px);
    @include slide-in(slide-tree-one, -700px, -700px, -350px, -250px, 0deg);
    animation: 5s slide-tree-one ease-out forwards;
  }
  .millgrove-tree-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateZ(180deg) translate(700px, 700px);
    @include slide-in(slide-tree-two, -700px, -700px, -350px, -250px, 180deg);
    animation: 5s slide-tree-two ease-out forwards;
  }

  .millgrove-home-loading {
    display: flex;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    bottom: 10vh;
    overflow: hidden;
    > span {
      margin: 0 auto;
      transform: translateY(20px);
      @include ladder-up(loading-anim, 20px);
      animation: 1s loading-anim ease-in-out forwards;
    }
  }
  .millgrove-home-loading-bar {
    position: absolute;
    box-sizing: border-box;
    margin: 0 1%;
    width: 98%;
    bottom: 8vh;
    background-color: rgba(244, 241, 236, 0.3);
    height: 1px;
    .millgrove-home-loading-bar-fill {
      background-color: rgba(244, 241, 236, 1);
      width: 0%;
      height: 100%;
      animation: 5s elongate ease-out forwards;
    }
  }
}
