@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";

.mainWrapper {
  padding: 1.25rem;
  border-radius: 6px;
  background-color: #ffffff;
  position: relative;
  max-width: 40%;
  margin-top: 2rem;
  //   height: 80%;
  //   max-height: 40rem;
}

.bgTree {
  position: absolute;
  top: 5%;
  left: 36%;
  height: 50%;
  width: 40%;
  margin: 0 auto;
}

.formWrapper {
  border: 1px solid $brown-80-30;
  border-radius: 6px;
  padding: 4.5rem 2rem 2rem 2rem;
  form {
    width: 95%;
    margin: 0 auto;
  }
  text-align: center;
}

.headingWrapper {
  max-width: 70%;
  margin: 0 auto 3rem auto;
}
.heading {
  @include fontStyles($black-100, "Editorial New", 200, 4vw);
  text-transform: uppercase;
}
.smallText {
  @include fontStyles($brown-70, "Notera", 200, 4vw);
  text-transform: lowercase;
}

.otpWrapper {
  margin-bottom: 1.5rem;
}

.resend {
  @include fontStyles($black-90, "Manrope", 400, 0.875rem);

  span {
    @include fontStyles($brown-70, "Manrope", 400, 0.875rem);
  }
}

.submitBtnWrapper {
  @include flex(center, center);
  margin-top: 3rem;
}
