@import "../../sass/utils/_variables.scss";
@import "../../sass/utils/_mixins.scss";

.wrapper {
  background-color: #434f50;
  padding-top: 35.5rem;
  @media (max-width: 980px) {
    padding-top: 7.5rem;
  }

  .flexSection {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 150px;

    .third {
      font-family: 'Editorial New';
      font-weight: 200;
      font-size: 70px;
      line-height: 110%;
      color: #F9F6ED;
      letter-spacing: 0.01em;
    text-transform: uppercase;
    margin: 0;
    }
    
    .description {
      max-width: 539px;
      margin: 0;
    }
  }
}


.textWrapper {
  margin: auto;
  width: 85%;
  @media (max-width: 980px) {
    width: 100%;
  }
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description {
  @include fontStyles($grey-60, "Manrope", 400, 1rem);
  position: relative;
  > p {
    width: 49ch;
  }
  text-align: left;
}
.first {
  align-self: center;
  text-transform: uppercase;
  display: flex;
  @include fontStyles($cream-40, "Editorial New", 200, 5.675rem);
  margin: 0;
  .second {
    margin-left: 20px;
    align-self: center;
    @include fontStyles($brown-50, "Notera", 400, 2.5rem);
  }
}



.threeDView {
  position: relative;
}
.interactBtn {
  display: none;
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  @media (max-width: 980px) {
    display: none !important;
  }
}
